<div class="form-inline">
  <div class="form-group mb-2" >
    <input type="text" class="form-control mr-2"
            placeholder="Buscar"
            [(ngModel)]="filtroLista"
            />
  </div>
</div>
<h3>Filtro: {{filtroLista}}</h3>
<table class="table table-stripped">
  <thead>
    <th>
      <button class="btn btn-outline-primary"
              (click)="alternarImagem()">
        Mostrar Imagem
      </button>
    </th>
    <th>#</th>
    <th>Tema</th>
    <th>Local</th>
    <th>Data</th>
    <th>Qtd Pessoas</th>
    <th>Lote</th>
  <th>Opções</th>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <img *ngIf="mostrarImagem"
            src="http://localhost:5000/img/{{evento.imageURL}}"
            [style.width.px]="imagemLargura"
            [style.margin.px]="imagemMargem"
            />
      </td>
      <td>{{evento.eventoId}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lote}}</td>
      <td>Excluir</td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="7" class="text-center" >
        <h4>
          Nenhum evento encontrado
        </h4>
      </td>
    </tr>
  </tfoot>
</table>